.form-fields-wrapper {
    background: white;
    max-width: 441px;
    min-width: 360px;
    box-shadow: 1px 1px 30px #DBDBDB;
    padding: 45px 40px 22px 40px;
    box-sizing: border-box;
    margin: 0px auto;
}

.loginfield {
    height: 65px;
    display: block;
    border: none;
    box-shadow: 0px 0px 26px #EEEEEE;
    padding: 0px 20px 0px 50px;
    font-size: 26px;
    margin: 0 0 38px 0;
    color: #666666;
    box-sizing: border-box;
    width: 100%;
}

.loginfield::-webkit-input-placeholder {
    color: #B0B0B0;
}

.user-name {
    background: url(./image/login_icon.png) no-repeat 15px 18px;
}

.password {
    background: url(./image/password_icon.png) no-repeat 15px 20px;
}

.forgot-password {
    font-size: 20px;
    margin: 0 0 0 140px;
}

